/*^ContentPage {
    background-color: #cfe2f3;
}*/

^Frame {
    background-color: #cfe2f3;
}

.LightBlueBg {
    background-color: #cfe2f3;
}

^Button {
    background-color: #1976D2; /*174479*/
    color: #FFFFFF;
    font-size: small;
    border-radius: 5;
    padding:15;
}

^RadioButton {
    padding: 15;
}

.NoRadiusButton {
    border-radius: 0;
}

^SwipeView {
    background-color: #cfe2f3;
}

.MainText {
    color:darkblue;
    font-size:24;
}

.SecondaryText {
    color: #313439;
}

.SecondaryTextAlt {
    color: #255fbc;
}

.DarkBlueBg {
    background-color: #1976D2;
}

.DarkBlueFont {
    color: #1976D2;
}

.KeyboardBtn {
    padding: 0 0 0 0;
    background-color: #606060;
    font-size:medium;
}

.MenuBlackBg {
    background-color: #484d57;
}

.MenuWhiteText {
    color: #eef0f1;
}

.CommonThemeOrange {
    color: #f97b4d;
}

/*icon-bg outside #3F51B5 inside B3E5FC*/